@model LukeTest.Models.ViewModels.Member.OrderDetailViewModel

@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h2>@Model.PageTitleText</h2>

@await Html.PartialAsync("~/Views/Shared/Partials/_DynamicTable.cshtml", Model.OrderDetails)